@use '../global/colors' as *;
@use '../global/breakpoints' as *;

.about{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    &__title{
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        margin: 0;
        color: $bandsite-black;
    }
    &__img {
        background-position: center;
        height: 45.3vw;        
        width: 100%;
        margin: 1.5rem 0;
    }
    &__content{
        color: $bandsite-darkblack;
        display: flex;
        flex-direction: column;
        
        &-quote{
            color: $bandsite-black;
        }
        &-description{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

// tablet layout
@include tablet {
    .about{
        padding: 0 2.25rem;

        &__title{
            padding-top: 5rem;
            padding-bottom: 2.25rem;
        }
        &__img{
            height: 43vw;
            width: 85%;
            margin: 1rem auto;
        }
        &__content{
            width: 85%;
            margin: 1rem auto;
            display: flex;
            flex-direction: column;
            &-quote{
                #name{
                    margin-top: -0.50rem;
                    font-size: 1.25rem;
                }
            }
            &-description{
                flex-direction: row;
                align-items: center;
                justify-content: center;
                p{
                    padding-right: 1rem;
                }               
            }           
        }
    }
}
//desktop layout
@include desktop {
    .about{
        padding: 0 5rem;
    }
}