@use '../global/colors' as *;
@use '../global/breakpoints' as *;

.gallery {
    background-color: $alabaster;
    padding: 0 1rem;

    &__title {
        padding: 2rem 0 1rem 0;
        margin: 0;
        color: $bandsite-black;
    }

    &__images {
        display: flex;
        flex-direction: column;
        
        &-item{
            height: 50.625vw;
            width: 100%;
            padding-bottom: 1rem;
        }
    }

}

//tablet layout
@include tablet {
    .gallery {
        padding: 0 2.25rem 2.25rem 2.25rem;

        &__title {
            padding: 3rem 0 2.25rem 0;
        }

        &__images {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            &-item{
                height: 16.40625vw;
                width: 31.5%;
                padding: 0.85rem 0;
            }
        }
    }
}