@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    margin: 0;
    padding: 0;
  }
}
@font-face {
  font-family: Avenir Next;
  src: url(../../../assets/Font/AvenirNextLTPro-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Avenir Next;
  src: url(../../../assets/Font/AvenirNextLTPro-Demi.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next;
  src: url(../../../assets/Font/AvenirNextLTPro-Bold.woff) format("woff");
  font-weight: 700;
}
body {
  font-family: "Avenir Next";
}

.nav__options-link {
  font-size: 0.875rem;
  line-height: 22px;
}

.section-header, .page-header {
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 700;
}

.section-subheader {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 600;
}

.body-text {
  font-size: 0.813rem;
  line-height: 18px;
  font-weight: 400;
}

.footer-text {
  font-size: 0.875rem;
  line-height: 22px;
  text-decoration: none;
}
.footer-text-bold {
  font-weight: 600;
}

.footer-label-text {
  font-size: 0.625rem;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  .nav__options-link {
    font-size: 1.5rem;
    line-height: 32px;
  }

  .page-header {
    font-size: 3.75rem;
    line-height: 68px;
    font-weight: 700;
  }

  .section-header {
    font-size: 2.25rem;
    line-height: 44px;
    font-weight: 700;
  }

  .section-subheader {
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 600;
  }

  .body-text {
    font-size: 0.875rem;
    line-height: 22px;
    font-weight: 400;
  }

  .footer-text {
    font-size: 0.875rem;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
  }

  .footer-label-text {
    font-size: 0.875rem;
    line-height: 20px;
  }
}
.nav {
  background-color: #323232;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav__logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.nav__logo-img {
  width: 7.5rem;
  margin-bottom: 1rem;
}
.nav__options {
  list-style: none;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__options-item {
  width: 50vw;
  text-align: center;
}
.nav__options-item-link {
  text-decoration: none;
  display: block;
  padding-bottom: 0.75rem;
  color: #E1E1E1;
}
.nav__options-item-link:hover {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
}
.nav__options-item #active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
  .nav__logo {
    padding: 0 0 0 2.25rem;
    margin-top: 0;
  }
  .nav__logo-img {
    width: 7.5rem;
    margin-bottom: 0;
  }
  .nav__options {
    justify-content: left;
    align-items: center;
  }
  .nav__options-item {
    display: flex;
    align-items: center;
    text-align: center;
    width: 5rem;
    margin-left: 3.5rem;
  }
  .nav__options-item-link {
    width: 5rem;
    display: block;
    margin-top: 0.45rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .nav__logo {
    padding-left: 5rem;
  }
}
.hero {
  height: 30vh;
  margin: 0;
  padding: 0;
}
.hero__img {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
.hero__img-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.hero__img-overlay-header {
  color: #FFFFFF;
  margin: 0;
  padding-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 70vh;
  }
  .hero__img-overlay-header {
    padding-left: 2.25rem;
  }
}
@media only screen and (min-width: 1280px) {
  .hero__img-overlay-header {
    padding-left: 5rem;
  }
}
.about {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.about__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  color: #323232;
}
.about__img {
  background-position: center;
  height: 45.3vw;
  width: 100%;
  margin: 1.5rem 0;
}
.about__content {
  color: #000000;
  display: flex;
  flex-direction: column;
}
.about__content-quote {
  color: #323232;
}
.about__content-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .about {
    padding: 0 2.25rem;
  }
  .about__title {
    padding-top: 5rem;
    padding-bottom: 2.25rem;
  }
  .about__img {
    height: 43vw;
    width: 85%;
    margin: 1rem auto;
  }
  .about__content {
    width: 85%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
  }
  .about__content-quote #name {
    margin-top: -0.5rem;
    font-size: 1.25rem;
  }
  .about__content-description {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .about__content-description p {
    padding-right: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .about {
    padding: 0 5rem;
  }
}
.gallery {
  background-color: #FAFAFA;
  padding: 0 1rem;
}
.gallery__title {
  padding: 2rem 0 1rem 0;
  margin: 0;
  color: #323232;
}
.gallery__images {
  display: flex;
  flex-direction: column;
}
.gallery__images-item {
  height: 50.625vw;
  width: 100%;
  padding-bottom: 1rem;
  filter: grayscale(1);
}
.gallery__images-item:hover {
  filter: none;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
  .gallery__title {
    padding: 3rem 0 2.25rem 0;
  }
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .gallery__images-item {
    height: 16.40625vw;
    width: 31.5%;
    padding: 0.85rem 0;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    padding: 2.25rem 5rem;
  }
}
.footer {
  background-color: #323232;
  color: #FAFAFA;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}
.footer__title {
  padding: 2rem 1rem 0 1rem;
  margin: 0;
}
.footer__icon {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
}
.footer__icon img {
  margin-right: 1.5rem;
}
.footer__contact {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.footer__contact-name p {
  margin: 0;
  padding: 0;
}
.footer__contact-email a {
  text-decoration: none;
  color: #FAFAFA;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin: 5rem 0 0 1rem;
  color: #FAFAFA;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 2.25rem;
  }
  .footer__main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__title {
    padding: 3rem 0 2.25rem 0;
  }
  .footer__icon {
    padding: 3rem 0 2.25rem 2.25rem;
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__contact-address {
    padding: 1rem 0;
  }
  .footer__logo {
    position: relative;
  }
  .footer__logo-img {
    position: absolute;
    bottom: 23rem;
    right: 1rem;
  }
  .footer-label-text {
    margin: 0;
    padding-bottom: 2.25rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 5rem 0 5rem;
  }
  .footer__title {
    padding: 3rem 0 2.25rem 0;
  }
  .footer-container {
    justify-content: flex-start;
  }
  .footer__contact {
    padding: 0 3rem 1rem 0;
  }
  .footer-label-text {
    display: flex;
    justify-content: flex-start;
  }
}/*# sourceMappingURL=main.css.map */