body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Avenir Next;
  src: url(../../../assets/Font/AvenirNextLTPro-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Avenir Next;
  src: url(../../../assets/Font/AvenirNextLTPro-Demi.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: Avenir Next;
  src: url(../../../assets/Font/AvenirNextLTPro-Bold.woff) format("woff");
  font-weight: 700;
}
body {
  font-family: "Avenir Next";
}

.nav__options-link {
  font-size: 1rem;
  line-height: 22px;
}

.section-header, .page-header {
  font-size: 1.5rem;
  line-height: 22px;
  font-weight: 700;
}

.section-subheader {
  font-size: 0.875rem;
  line-height: 22px;
  font-weight: 600;
}

.body-text {
  font-size: 0.813rem;
  line-height: 18px;
  font-weight: 400;
}

.footer-text {
  font-size: 0.875rem;
  line-height: 22px;
  text-decoration: none;
}

.footer-label-text {
  font-size: 0.625rem;
  line-height: 20px;
}

.nav {
  background-color: #323232;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav__logo {
  width: 7rem;
  margin-top: 1rem;
}
.nav__options {
  width: 100%;
  margin-top: 0.5rem;
  padding-bottom: 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__options #active {
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
.nav__options-link {
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
  color: #E1E1E1;
  text-decoration: none;
}
.nav__options-link:hover {
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
}
.nav__options-link a {
  text-decoration: none;
  color: #E1E1E1;
}

.hero {
  height: 30vh;
  margin: 0;
  padding: 0;
}
.hero__img {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
}
.hero__img__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.hero__img__overlay h1 {
  color: #FFFFFF;
  margin: 0;
  padding-left: 1rem;
}

.about {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.about__title {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
  color: #323232;
}
.about__img {
  background-position: center;
  height: 40%;
  width: 100%;
}
.about__content {
  color: #000000;
  display: flex;
  flex-direction: column;
}
.about__content-quote {
  color: #323232;
}

.gallery {
  background-color: #FAFAFA;
  padding: 0 1rem;
}
.gallery__title {
  padding: 2rem 0 1rem 0;
  margin: 0;
  color: #323232;
}
.gallery__images {
  display: flex;
  flex-direction: column;
}
.gallery__images-item {
  height: 50.625vw;
  width: 100%;
  padding-bottom: 1rem;
}

.footer {
  background-color: #323232;
  color: #FAFAFA;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}
.footer__title {
  padding: 2rem 1rem 0 1rem;
  margin: 0;
}
.footer__icon {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
}
.footer__icon img {
  margin-right: 1.5rem;
}
.footer__contact {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.footer__contact-name p {
  margin: 0;
  padding: 0;
}
.footer__contact-email a {
  text-decoration: none;
  color: #FAFAFA;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin: 5rem 0 0 1rem;
  color: #FAFAFA;
}/*# sourceMappingURL=main.css.map */