@use './colors' as *;
@use './breakpoints' as *;

.footer{
    background-color: $bandsite-black;
    color: $alabaster;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    &__title{
        padding: 2rem 1rem 0 1rem;
        margin: 0;
    }
    &__icon{
        padding: 1.5rem 1rem 0 1rem;
        display: flex;
        justify-content: flex-start;
        height: 1.5rem;
        
        img{
            margin-right: 1.5rem;
        }
    }
    &__contact{
        padding: 1.5rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        &-name{
            p{
                margin: 0;
                padding: 0;
            }
        }
        &-email{
            a {
                text-decoration: none;
                color: $alabaster;
            }
        }       
    }
    &-container{
        display: flex;
        flex-direction: column;
    }
    &__logo{
        margin: 5rem 0 0 1rem;
        color: $alabaster;
    }
}
//tablet layout
@include tablet {
    .footer {
        padding: 0 2.25rem;
        &__main{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &__title{
            padding: 3rem 0 2.25rem 0;
        }
        &__icon{
            padding: 3rem 0 2.25rem 2.25rem;
        }
        &-container{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;          
        }
        &__contact{
            &-address{
                padding: 1rem 0;
            }
        }
        &__logo {
            position: relative;
            &-img{
                position: absolute;
                bottom: 23rem;
                right: 1rem;
            }
        }
        &-label-text{
            margin: 0;
            padding-bottom: 2.25rem;
            text-align: center;
        }   
    }
}
// desktop layout
@include desktop {
    .footer {
        padding: 0 5rem 0 5rem;
        &__title{
            padding: 3rem 0 2.25rem 0;
        }
        &-container{
            justify-content: flex-start;
        }
        &__contact{
            padding: 0 3rem 1rem 0;
        }
        &__logo{
            margin: 5rem 0 0 0rem;
        }
        &-label-text{
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
        }
    }
}