@use './breakpoints' as *;

@include mobile {
    body{
        margin: 0;
        padding: 0;
    }
}
@include tablet {
    body{
        margin: 0;
        padding: 0;
    }
}

@include desktop {
    body{
        margin: 0;
        padding: 0;
    }
}