@use './colors' as *;

.nav{
    background-color: $bandsite-black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 12vh;
    width: 100%;

    &__logo{
        width: 7rem;
    }
}